@use "src/styles/base";
@use "src/styles/components";


.areYouSureMsg {
    // display:flex;
    flex-direction: column;
    // z-index:999;
}

.show-msg {
    display:flex;
    z-index: 999;
}

.hide-msg {
    z-index:-999;
    display:none;
}

.areYouSureMsg__close-btn {
    border:none;
    margin-left:auto;
    background: #cccccc;
    color:rgb(59, 59, 59);
    display:flex;
    justify-content: center;
    align-items:center;
    font-size:1.15rem;
    padding:0.5rem;
    border-radius: 50%;
    cursor: pointer;
}

.areYouSureMsg__heading {
    text-align: center;
    margin:1.5rem auto;
}


.areYouSureMsg__logout {
    background: base.$red-000;
    font-weight: 700;
    font-size:1.25rem;
    letter-spacing: 0.25px;
}


