@use "../base.scss";

// the top section of the page
.top {
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin-top:2rem;
}

@media screen and (max-width: 600px) {
  .top {
    flex-direction: column;
    margin-top:2rem;
  }

}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin:0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
    width:100%;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    margin-right:2rem;
  }
  
  table td:last-child {
    border-bottom: 0;
  }

  .table-heading {
    display:none;
  }
}



//  Only works for single line elements.
.truncate-text {
  /*prevents the text from overflowing its dimensions*/
  overflow: hidden;
  /*prevents the text from exceeding one line in height.*/
  white-space: nowrap;
  /*makes it so that if the text exceeds its dimensions, it will end with an ellipsis.*/
  text-overflow: ellipsis;
  /*ensures the element has a dimension, to know when to get ellipsis*/
  width: initial;
}



.details-link {
  color:base.$blue-000;
  }


// the bottom section of the page
  .bottom {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 600px) {
  .bottom {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}

.page-btns > * {
    margin:0.4rem;
    padding:0.4rem 0.7rem;
    cursor: pointer;

    background: #fff;
    border:1px solid #000;
    border-radius: 3px;
}

.show-page-btn {
  background: #000;
  color:#fff;
}



// search bar
.search {
  display:flex;
  justify-content: center;
  align-items:center;
  margin:0.25rem 0;
  padding:0.35rem;
  border: 1px solid rgb(179, 179, 179);
  border-radius:4px;
  background: #fff;
}

.search__icon {
  display: block;
  color:rgb(75, 75, 75);
  margin-left:0.5rem;
  font-size: 1.25rem;
}

.search-input-text {
  border:none;
  background: none;
  margin-left:0.5rem;
  font-size: 1rem;
}

.search-input-text::placeholder {
  font-size: 1rem;
}

.search-input-text:focus {
  outline: none;
}