@use "../base.scss";


.top {
    display:flex;
    justify-content: space-between;
    align-items: center;

    margin-top:2rem;
}




// table
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    overflow: auto;
    margin:0.25rem 0;
  }

  table a {
      color:base.$blue-000;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tbody:nth-child(even) {
    background-color: #dddddd;
  }



  .bottom {
    display:flex;
    justify-content: space-between;
    align-items: center;
} 

.page-btns > * {
    margin:0.25rem;
    padding:0.25rem 0.5rem;
    cursor: pointer;
}

.show-page-btn {
  border:2px solid base.$blue-000;
  color:base.$blue-000;
}




.search {
  display:block;
  margin:0.25rem;
  padding:0.25rem;
}

.search-input-text {
  // height:100%;
}

.search-input-text:focus {
  // outline: none;
}
