$red-000:#e74c3c;

.error-container {
    position: relative;
    background-color: $red-000;
    color:#fff;
    padding:0.5rem 1rem;
    font-size:1.25rem;
    margin:0 auto;
    width:auto;
    // display:flex;
    justify-content: space-between;
    align-items:center;
}

.error-close-btn {
    border:none;
    background:none;
    color:#fff;
    font-size:2.5rem;
    display:table-cell;
    text-align:center;
    vertical-align:middle;
    height:100%;
    line-height:100%;
    cursor: pointer;
}

.error-show {
    display:flex;
}


.error-hide {
    display: none;
}

